<h1>本棚を編集</h1>

<%= form_with(model: @bookshelf, local: true) do |form| %>
    <%= form.label :shelfname, "本棚の名前" %>
    <%= form.text_field :shelfname %>

    <%= form.label :is_public, "本棚の公開状態:" %>
    <%= form.radio_button :is_public, true %>
    <%= form.label :is_public, "公開", value: true %>
    <%= form.radio_button :is_public, false %>
    <%= form.label :is_public, "非公開", value: false %>
    <%= form.submit "更新" %>
<% end %>

<%= button_to '本棚を削除', bookshelf_path(@bookshelf), method: :delete, data: { confirm: '本棚を削除してよろしいですか？' } %>
    
<% @books.each do |book| %>
  <div>
    <% if book["volumeInfo"]["imageLinks"] && book["volumeInfo"]["infoLink"] %>
      <%= link_to image_tag(book["volumeInfo"]["imageLinks"]["thumbnail"]), book["volumeInfo"]["infoLink"], target: "_blank", data: { book_api_id: book["id"], action: 'record-history' } %>
    <% end %>

    <% if book["volumeInfo"]["title"] && book["volumeInfo"]["infoLink"] %>
      <%= link_to book["volumeInfo"]["title"], book["volumeInfo"]["infoLink"], target: "_blank", data: { book_api_id: book["id"], action: 'record-history' } %>
    <% end %>
    <%= button_to '本棚から削除', remove_book_from_shelf_path(id: @bookshelf.id, book_api_id: book["id"]), method: :delete %>
  </div>
<% end %>