<div class="form-container">
  <%= form_with url: login_path, method: :post do |form| %>
    <%= form.label :name, "ユーザー名" %>
    <%= form.text_field :name %>

    <%= form.label :pass, "パスワード" %>
    <%= form.password_field :pass %>

    <%= form.submit "ログイン" %>
  <% end %>
</div>