<header class="page-header">
  <%= image_tag 'Folio Friends.png' %>
</header>
<div id="login">
  <h1 class=l>ログイン</h1>
  <%= form_with url: login_path, method: :post do |form| %>
    <div class="login-user">
      <%= form.label :name, "ユーザー名" %>
      <%= form.text_field :name %>
    </div>
    <div class="login-password">
      <%= form.label :pass, "パスワード" %>
      <%= form.password_field :pass %>
    </div>
    <div class="login-button">
      <%= form.submit "ログイン" %>
    </div>
  <% end %>
</div>