<% if current_user %>
<header class="page-header">
  <%= image_tag 'Folio Friends.png' %>
</header>
<div class="top-main">
  <div class="search-bar">
    <%= form_with url: books_path, method: :get do |form| %>
      <%= form.text_field :query, placeholder: "書籍を検索", aria_label: "検索" %>
      <%= form.submit "検索" %>
    <% end %>
  </div>
  <br>
  <div class="navigation-menu1">
    <div class="to-my-bookshelves">
      <%= link_to '自分の本棚を見る', bookshelves_path %><br>
    </div>
    <div class="to-other-bookshelves">
      <%= link_to '他のユーザーの本棚を見る', public_bookshelves_path %><br>
    </div>
    <div class="logout">
      <%= link_to "ログアウト", logout_path %>
    </div>
  </div>
<% else %>
  <div class="top-main">
    <div class="navigation-menu2">
      <div class="img-logo2">
        <%= image_tag 'FolioFriends_logo.png' %>
        <p class="new">＼ アカウントをお持ちでない方 ／</p>
        <div class="new-user">
          <%= link_to '新規登録', new_user_path %>
        </div>
      </dvi>
      <br>
      <br>
      <p class="log">＼ アカウントをお持ちの方 ／</p>
      <div class="login">
  
        <%= link_to 'ログイン', login_path %>
      </div>
    </div>
</div>
<% end %>
</div>
