<header class="page-header">
  <%= image_tag 'Folio Friends.png' %>
</header>
<div id="user-new">
  <h1 class="user-new-header">ユーザーの新規登録</h1>
  
  <%= form_with model: @user, url: users_path do |form| %>
    <div class="username">
      <%= form.label :name, "ユーザー名" %>
      <%= form.text_field :name %>
    </div>
    <div class="password">
      <%= form.label :password, "パスワード  " %>
      <%= form.password_field :password %>
      <br>
      <%= form.label :password_confirmation, "パスワード(確認)"%>
      <%= form.password_field :password_confirmation %>
    </div>
    <div class="user-register">
      <%= form.submit "登録する" %>
    </div>
  <% end %>
</div>