<%= link_to '本棚を見る', bookshelves_path, class: "menu-button" %>

<% if @books.present? %>
  <div>
    <% @books.each do |book| %>
      <div class="book-container">
        <% if book["volumeInfo"]["imageLinks"] %>
          <%= link_to image_tag(book["volumeInfo"]["imageLinks"]["thumbnail"]), book["volumeInfo"]["infoLink"], target: "_blank", data: { book_api_id: book["id"], action: 'record-history' } %>
        <% end %>
        <h3><%= link_to book["volumeInfo"]["title"], book["volumeInfo"]["infoLink"], target: "_blank", data: { book_api_id: book["id"], action: 'record-history' } %></h3>
        <p><%= book["volumeInfo"]["authors"]&.join(", ") %></p>
        <p><%= book["volumeInfo"]["publishedDate"] %></p>
        <p><%= book["volumeInfo"]["description"] %></p>
        <%= link_to 'Google Booksで見る', book["volumeInfo"]["infoLink"], target: "_blank", data: { book_api_id: book["id"], action: 'record-history' } %>
        <%= form_with(url: likes_path, method: :post) do |form| %>
          <%= form.hidden_field :book_api_id, value: book["id"] %>
          <%= form.submit "お気に入り" %>
        <% end %>
        <%= form_with url: add_book_to_shelf_path, method: :post do |form| %>
          <%= form.hidden_field :book_api_id, value: book["id"] %>
          <%= form.select :shelf_id, 
                options_for_select([['本棚を選択', '', {disabled: true, selected: true}]] + 
                current_user.bookshelves.where.not(id: [current_user.favorite_shelf.id, current_user.history_shelf.id]).map { |shelf| [shelf.shelfname, shelf.id] }), 
                {}, 
                {class: 'form-control'} 
          %>
          <%= form.submit "本棚に追加" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>本が見つかりません</p>
<% end %>