<%= form_with url: books_path, method: :get do |form| %>
  <%= form.label :query, "書籍を検索:" %>
  <%= form.text_field :query %>
  <%= form.submit "検索" %>
<% end %>

<% if @books.present? %>
  <div>
    <% @books.each do |book| %>
      <div>
        <h3><%= book["volumeInfo"]["title"] %></h3>
        <p><%= book["volumeInfo"]["authors"]&.join(", ") %></p>
        <p><%= book["volumeInfo"]["publishedDate"] %></p>
        <% if book["volumeInfo"]["imageLinks"] %>
          <%= image_tag book["volumeInfo"]["imageLinks"]["thumbnail"] %>
        <% end %>
        <p><%= book["volumeInfo"]["description"] %></p>
        <%= link_to 'Google Booksで見る', book["volumeInfo"]["infoLink"], target: "_blank", data: { book_api_id: book["id"], action: 'record-history' } %>
        <%= form_with(url: likes_path, method: :post) do |form| %>
        <%= form.hidden_field :book_api_id, value: book["id"] %>
        <%= form.submit "お気に入りに追加" %>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No books found.</p>
<% end %>
