<%= form_with url: books_path, method: :get do |form| %>
  <%= form.label :query, "書籍を検索:" %>
  <%= form.text_field :query %>
  <%= form.submit "検索" %>
<% end %>

<% if @books.present? %>
  <div>
    <% @books.each do |book| %>
      <div>
        <h3><%= book["volumeInfo"]["title"] %></h3>
        <p><%= book["volumeInfo"]["authors"]&.join(", ") %></p>
        <p><%= book["volumeInfo"]["publishedDate"] %></p>
        <% if book["volumeInfo"]["imageLinks"] %>
          <%= image_tag book["volumeInfo"]["imageLinks"]["thumbnail"] %>
        <% end %>
        <p><%= book["volumeInfo"]["description"] %></p>
        <%= link_to 'Google Booksで見る', book["volumeInfo"]["infoLink"], target: "_blank" %>
        <%= link_to '本棚に追加', bookshelves_path() %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No books found.</p>
<% end %>
