<!DOCTYPE html>
<html>
  <head>
    <title>FolioFriends</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <div class="site-name">
          <%= link_to "FolioFriends", root_path %>
        </div>
        <% if current_user %>
          <% unless controller_name == 'top' && action_name == 'main' %>
            <div class="mini-search-bar">
              <%= form_with url: books_path, method: :get do |form| %>
                <%= form.text_field :query, placeholder: "書籍を検索", aria_label: "検索" %>
                <%= form.submit "検索" %>
              <% end %>
            </div>
          <%end %>
              <%= link_to 'ログアウト', logout_path, method: :delete, class: 'logout-button' %>
        <% end %>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>